body {
    height:100vw;
}
img {
    width: 30%;
    height: 40%;
    margin: calc(10%/6);
}

nav{
    font-family: 'Raleway', sans-serif;
    text-transform:uppercase;
    border-bottom: 2px rgb(240, 70, 70) solid;
    width: 30%;
    font-size: 1.5vw;
    padding: 20px;
}

